.hover-in-out:hover{
  transition: 0.2s;
  padding: 10px;
}

.bolerada-border-yellow {
  border-color: #ffc100;
}

.bolerada-bg-yellow {
  background-color: #ffc100;
}

.bolerada-bg-black {
  background-color:#1C1C1C;
}

.bolerada-cl-yellow {
  color: #ffc100;
}

.bolerada-cl-black {
  color:#1C1C1C;
}
.bolerada-border-gray {
  border:  solid 1px white;

}
.jump-animate {
  animation: jumpAnimate 0.75s infinite; 
}

.figure-black {
  animation: borderAnimateBlack 2s infinite; 
}
 
.figure {
  animation: borderAnimate 2s infinite; 
}
 
 @keyframes jumpAnimate {
  0% {
    transform: translatey(5px);
  }

  50% {
    transform: translatey(-5px);
  }
  
  100% {
    transform: translatey(5px);
  }

}
 
 @keyframes borderAnimateBlack {
  0% {
    border: #1C1C1C solid;
  }
  50% {
    border: #858585 solid;
  }
  100% {
    border: #1C1C1C solid;
  }
}
 @keyframes borderAnimate {
  0% {
    border: #1C1C1C solid;
  }
  50% {
    border: #ffc100 solid;
  }
  100% {
    border: #1C1C1C solid;
  }
}

.card-category {
  padding: 10px;
}

.card-category figcaption {

}

.card-category figure {
  background-color: rgba(0, 0, 0, 0.6);
  /* border: #ffc100 solid; */
  padding: 10px;
}

.card-category figure a img {
  min-height: 80px;
  max-height: 80px;
  min-width: 80px;
  max-width: 80px;
  padding: 10px;
}
.card-img {
  border-radius: 20px;
}

.card-category h1,
.card-category h3 {
  text-align: center;
}

@media (min-width: 1024px) {

  .card-category h1,
  .card-category h3 {
    text-align: left;
  }
}

figcaption {
  color: #ffc100;
  font-size: 1.3em;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  originalPrice-weight: normal;
}
body, html {
  height: 100% !important;
}
body {
  background-color: red;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  originalPrice-family: Inter, -apple-system, BlinkMacSystemoriginalPrice, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
